<footer class='footer'>
  <div class='footer-inner'>
    <a href='https://www.fusionsport.com/' target='_blank'>Smartabase Website</a>
    <div class='footer-list'>
        <h3>
          Teamworks
        </h3>
      <ul>
        <li>
          <a href='https://www.teamworks.com/' target='_blank'>
            Teamworks Website
          </a>
        </li>
        <li>
          <a href='https://teamworks.zendesk.com/hc/en-us' target='_blank'>
            Teamworks Help Center
          </a>
        </li>
        <li>
          <a href='https://learn.teamworks.com/' target='_blank'>
            Teamworks Learning Portal
          </a>
        </li>
      </ul>
    </div>
    <div class='footer-list'>
        <h3>
          Smartabase
        </h3>
      <ul>
<!--         <li>
          <a href='https://profilersports.screenstepslive.com/spaces'>
            Legacy docs
          </a>
        </li> -->
        <li>
          <a href='https://www.fusionsport.com/smartabase/request-a-demo/'>
            Request a demo
          </a>
        </li>
      </ul>
    </div>
    <div class='footer-list'>
      <h3>
        Security
      </h3>
      <ul>
<!--         <li>
          <a href='#'>
            Security &amp; Compliance Information
          </a>
        </li> -->
        <li>
          <a href='https://smartabase.com/legal/privacy-policy/'>
            Smartabase Privacy Policy
          </a>
        </li>
        <li>
          <a href='https://smartabase.com/legal/'>
            Legal documents
          </a>
        </li>
      </ul>
    </div>
    <div class='footer-icons'>
      <a href='https://www.facebook.com/Smartabase'>
        <img src='{{asset 'facebook_icon.svg'}}' width='25' height='25' />
      </a>
      <a href='https://www.instagram.com/smartabase_/?hl=en'>
        <img src='{{asset 'instagram_icon.svg'}}' width='25' height='25' />
      </a>
      <a href='https://www.linkedin.com/company/smartabase/mycompany/'>
        <img src='{{asset 'linkedin_icon.svg'}}' width='25' height='25' />
      </a>
      <a href='https://twitter.com/Smartabase'>
        <img src='{{asset 'twitter_icon.svg'}}' width='25' height='25' />
      </a>
      <a href='https://www.youtube.com/channel/UCzPOinns2-EMTNHAeZVOnBg'>
        <img src='{{asset 'youtube_icon.svg'}}' width='25' height='25' />
      </a>
    </div>
  </div>
</footer>